body{
  background-image: url('https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}

#header-container{
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    position: relative;

    
}


#header{
    background-image: radial-gradient(purple,cyan);
    border-radius: 2rem;
    position: relative;
    opacity: 0.8;
   

    

    
}


#header-logo{
   
  opacity: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-left: 1%;
  text-align: center;

  
}
#header-img{
    height: auto; width: auto;
    
}

#header-text{
   
text-align: center;


      
}

.button-container{
  position: relative;
}
#header-button{
   position: absolute;
   right: 0;
   bottom: 0%;
   width: 60%;
   height: auto;
    padding: 2%;
    padding-left: 0;
    padding-right: 0;
     font-size: 0.8rem;
     border-radius: 2rem;
    color:white;
    background-image: linear-gradient(white, black);
}


/* {-----------------------container of healines.................} */


.headlines{
    background-color: white;
    color: black;
   
   
}


.Headlines-label{
    background-color: black;
    color:white;
    font-size: 1.3em;
    text-align: center;
    padding: 0.5em; 
    border-radius: 1.3em;
    border-color:white;
    border-style: solid;
}
.HeadlinesCon{
    margin-left: 2rem;
    margin-right: 2rem;
   

}
.Headline-container{
    margin: 0rem;
    
}




    /*----------------------HEADLINES MARQUEE BY CSS --------------------------------*/
   /* OUTER CONTAINER */
.tcontainer {
    width: 100%;
    overflow: hidden; /* Hide scroll bar */
    padding: 0%;
    
  }
   
  /* MIDDLE CONTAINER */
  .ticker-wrap {
    width: 100%;
    padding-left: 100%; /* Push contents to right side of screen */
    background-color: #eee;
    margin: 0%;
    border-radius: 20px;
    border-color:black;
    border-style: solid;
  }
  
  /* INNER CONTAINER */
  @keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 90s;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.5rem;
  }
  .ticker-move:hover{
    animation-play-state: paused; /* Pause scroll on mouse hover */
  }
  
  /* ITEMS */
  .ticker-item{
    display: inline-block; /* Lay items in a horizontal line */
    padding: 0 2rem;
    
  }
  /* --------------------------------------------------------------------------------------- */
  
/* ///////////// */
.body-plate{
    margin: 10px;
    padding: 5%;
    padding-top: 1%;
    position: relative;
   
  
  }
  .first{
      position: fixed;
      background-color: white;
      margin: 0.5%;
      border-radius: 25px;
      width: fit-content;
      background-image: radial-gradient(purple, rgb(165, 91, 235));
      height:100%;
      position: fixed;
      
  
  
  }
  .second{
  
      background-image: radial-gradient(purple,cyan);
      margin: 0.5%;
      height: 100%;
      
     
  
  }
  .third{
  
      background-color: white;
      margin: 0.5%;
      height: 100%;
      border-radius: 25px;
      background-image: linear-gradient(purple, rgb(165, 91, 235));
      
      position: fixed;
  
  }
  
  
  /* ................weather style//////////// */

  .weatherIcon
  {
    display:"inline-block";
    position: absolute;
    top: 60%;
    right: 5%;
    z-index: 1;
  
  } 
    
 .weatherSearch{
   margin-top: 5%;
 }
    
  /* .......................Job search portal */

  .jobPost{
    background-image:  linear-gradient(rgb(189, 109, 185), rgb(235, 91, 180));
    background-size: cover;
    text-align: center;
  }

  /* ...........................News search .............. */
  .news-search{
     
     text-align: center;

  }
  .news-button{
    padding: 1%;
     margin-left: 5%;
     margin-right: 5%;
     margin-bottom: 1%;
     border-radius: 10px;
    border-color: orange;
  
  }
  .TopHeadlineContent{
    background-color: white;
    position: relative;
    
  }